* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./images/wallpaperflare.com_wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  padding: 10px;
  display: grid;
  gap: clamp(20px, 3vw, 60px);
  align-items: center;
  justify-content: center;
}
.key {
  font-size: 20px;
  color: whitesmoke;
  border: 3px solid grey;
  height: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.741);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.05s ease;
  white-space: nowrap;
}

span {
  display: block;
}
.active {
  border-color: gold;
  transform: scale(1.1);
}
@media screen and (min-width: 768px) {
  body {
    grid-template-rows: repeat(12, 1fr);
  }
  body * {
    grid-row: 9/10;
    font-size: clamp(20px, 3vw, 40px);
    padding: 10px;
  }
  .key {
    font-size: 30px;
  }
}
